/*
REFERENCE:
    https://babeljs.io/docs/plugins/preset-env/
    https://babeljs.io/docs/plugins/preset-react/
*/
{
    "presets": [
        "env",
        "stage-2",
        "es2015",
        "react"
    ]
}